 .nav-item .active {
    border-bottom: 2px solid red;
    font-weight: bold;
    color: red !important;
    max-width: fit-content;
  }
 .inputBox{
  display: block;
  margin: 15px;
  padding: 5px;
 }
 .login{
  margin-left: 30%;
 }

 .appButton{
  
    color: lightgreen;
    background-color: blue;
    margin-left: 15px;
    border: none;
}
 .nav-link{
   color: black;
 }
 .bord{
    border: 1px solid skyblue;
    border-radius: 5px;
}
.deco{
  text-decoration: none;
  color: white;
}
 